    body {
        font-family: Roboto, Arial, sans-serif;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: #ffffff;
        background-color: #849d8f;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    a {
        text-decoration: none;
        color: #ffffff;
    }

    /*Шапка и попапы в ней*/

    .main-navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .main-header {
        min-height: 62px;
        padding-top: 3px;
    }

    .main-header-logo img {
        margin-top: 8px;
        margin-right: 12px;
        min-width: 154px;
        min-height: 62px;
    }

    .site-navigation {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        min-width: 650px;
    }

    .site-navigation>li {
        padding: 10px 0;
        position: relative;
    }

    [class$="-list"],
    .site-navigation {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    .nav-main-item .nav-main-link {
        display: block;
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
        padding: 7px 14px;

    }

    .site-navigation span {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .nav-main-item:hover .nav-main-link,
    .nav-main-item:focus .nav-main-link {
        background-color: #f7f6f3;
        color: #323232;
        border-radius: 25px;
    }

    .site-navigation .nav-main-link:active {
        box-shadow: inset 0px 2px 1px 0 #696969;
        color: #323232;
        border: none;
    }

    .nav-btn-list {
        display: flex;
        flex-wrap: wrap;
        min-width: 350px;
        margin-left: 85px;
    }

    .navigation-popup {
        display: none;
        position: absolute;
        box-sizing: border-box;
        right: auto;
        padding: 0px 0;
        min-height: 171px;
        min-width: 143px;
        z-index: 2;
        top: 45px;
        left: -7px;
        margin: 0px;
        list-style: none;
        box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
        background-color: #f8f7f4;
        border-radius: 5px;
    }

    .nav-main-item:hover .navigation-popup,
    .nav-main-item:focus-within .navigation-popup {
        display: block;
    }

    .navigation-popup li {
        display: block;
        /* padding: 3px 0; */
        color: #323232;
        background-color: #f8f7f4;
    }

    .navigation-popup a {
        display: block;
        padding: 8px 20px;
        font-size: 14px;
        line-height: 16px;
        list-style: none;
        color: #323232;
        font-weight: 400;
    }

    .navigation-popup a:hover,
    .navigation-popup a:focus {
        background-color: #fbded7;
        color: #323232;
    }


    .navigation-popup a:active {
        color: #323232;
        background-color: #f6b5a5;
        box-shadow: none;
    }

    .navigation-popup .first-item:hover,
    .navigation-popup .first-item:focus,
    .navigation-popup .first-item:active {
        border-radius: 5px 5px 0px 0;
        -webkit-border-radius: 5px 5px 0px 0;
        -moz-border-radius: 5px 5px 0px 0;
        -ms-border-radius: 5px 5px 0px 0;
        -o-border-radius: 5px 5px 0px 0;
    }

    .navigation-popup .last-item:hover,
    .navigation-popup .last-item:focus,
    .navigation-popup .last-item:active {
        border-radius: 0px 0px 5px 5px;
        -webkit-border-radius: 0px 0px 5px 5px;
        -moz-border-radius: 0px 0px 5px 5px;
        -ms-border-radius: 0px 0px 5px 5px;
        -o-border-radius: 0px 0px 5px 5px;
    }

    .new-item a {
        font-weight: 700;
    }

    .navigation-popup .new-item:after {
        content: ""
            top: 37px;
        right: 9px;
        left: 6px;
        height: 1px;
        background-color: rgba(53, 53, 53, 0.2);
    }

    /* =============Кнопки навигации===================== */

    .nav-btn-list .btn-item {
        position: relative;
        margin-right: 10px;
    }

    .nav-btn-list .search-item {
        background-color:transparent;
        border-radius: 50%;
        padding-bottom: 4px;
        position: relative;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .nav-btn-list .search-btn {
        position: relative;
        min-width: 33px;
        min-height: 33px;
        border: none;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }

    .search-btn svg {
        margin-top: 3px;
    }

    .search-btn:hover path,
    .search-btn:focus path {
        fill: #323232;
    }

    .search-btn-popup {
        position: absolute;
        display: none;
        padding: 20px 16px;
        box-sizing: border-box;
        top: 37px;
        right: 0;
        z-index: 2;
        width: 341px;
        min-height: 84px;
        background-color: #f8f7f4;
        border-radius: 5px;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    }
/* =========================================================================================== */
    .search-btn-popup input:hover,
    .search-btn-popup input:focus {
        border: 2pz solid rgba(46, 136, 228, 0.52);

    }

    .search-item:hover .search-btn-popup,
    .search-item:focus-within .search-btn-popup {
        display: block;
    }

    .search-item:hover .search-btn,
    .search-item:focus .search-btn {
        background-color: #f7f6f3;
    }

    .nav-btn-list .login-link,
    .nav-btn-list .basket-link {
        position: relative;
        display: block;
        padding-left: 44px;
        padding-right: 17px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: #ffffff;
        border: none;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }

    .login-link svg,
    .basket-link svg {
        position: absolute;
        left: 16px;
        top:6px;
    }

    .btn-item path {
        fill: #ffffff;
    }

    .btn-item:hover path,
    .btn-item:hover circle,
    .btn-item:focus path,
    .btn-item:focus circle {
        fill: #323232;
    }

    .login-btn-popup-wrap {
        position: absolute;
        z-index: 2;
        top:38px;
        left: -186px;
        display: none;
        box-sizing: border-box;
        border-radius:5px;
        width: 277px;
        min-height: 214px;
        background-color: #ffffff;
        padding: 20px 17px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        -ms-border-radius:5px;
        -o-border-radius:5px;
}

    .login-item:hover .login-btn-popup-wrap,
    .login-item:focus-within .login-btn-popup-wrap {
        display: block;
    }

    .login-item:hover .login-link,
    .login-item:focus .login-link {
        background-color: #f7f6f3;
        color:#323232;
    }

    .login-btn-popup input {
        border: 1px solid #d3d3d2;
        margin-bottom: 20px;
        color: #323232;
        border-radius: 5px;
        width: 239px;
        height: 42px;
    }

    .bottom-link-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .login-btn-popup .bottom-row {
        display: flex;
        justify-content: space-between;
    }

    .login-btn-popup a {
        color: #323232;
        font-size: 13px;
        padding: 5px 0px;
        line-height: 5px;
        border-bottom: 1px solid #323232;
    }

    .login-btn-popup a:hover,
    .login-btn-popup a:focus,
    .login-btn-popup a:active {
        color: #e84d37;
        border-bottom: 1px solid #e84d37;
    }

    .btn-item .basket-not-empty {
        background-color: #ffffff;
        color: #323232;
    }


    .backet-btn-popup {
        display: none;
    }

    /* =================================== */

    .work-hour {
        display: flex;
        justify-content: flex-end;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        word-wrap: normal;
        padding-bottom: 7px;
        margin: 0px;
    }

    .header-phone-number {
        display: flex;
        justify-content: flex-end;
        padding: 0px;
        margin: 0px;
        font-size: 22px;
        line-height: 24px;
        font-weight: 700;
    }

    .backet-btn-popup {
        border-radius: 5px;
        box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
        background-color: #f8f7f4;
        color: #323232;
        font-size: 13px;
        line-height: 16px;
    }

    .backet-btn-popup span {
        color: #999999;
    }

    .backet-btn-popup .total {
        font-size: 15px;
        line-height: 18px;
        font-weight: 700;
    }

    .nav-btn:hover,
    .nav-btn:focus {
        text-decoration: none;
        background-color: #f8f7f4;
        color: #323232;
    }

    .search-btn-popup input {
        border: 1px solid #d3d3d2;
        color: #323232;
        border-radius: 5px;
        width: 309px;
        height: 42px;
    }

    /* Слайдер и обертки  */

    .site-wrapper {
        margin: 0;
        background-color: #849d8f;
        background-repeat: no-repeat;
        background-position: top center;
        transition: background-image 0.5s ease, background-color 0.5s ease;
    }

    .site-wrapper::before,
    .site-wrapper::after {
        content: "";
        visibility: hidden;
    }

    .container {
        width: 1146px;
        margin: 0 auto;
    }

    .slide-offer {
        min-height: 200px;
        position: relative;
        padding-top: 275px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 40px;
    }

    /* .slider-item img {
        position: absolute;
        top: -125px;
        right: 50px;
        z-index: -1;
    } */

    .slide-title {
        width: 700px;
        margin: -3px auto;
        margin-bottom: 27px;
        font-size: 60px;
        line-height: 60px;
        font-weight: 800;
    }

    .slider-controls {
        position: absolute;
        bottom: 20px;
        left: 0;
        z-index: 20;
        font-size: 0;
    }

    .slider-controls label {
        display: inline-block;
        width: 17px;
        height: 17px;
        margin-right: 8px;
        vertical-align: top;
        background-color: transparent;
        border: 2px solid #ffffff;
        border-radius: 50%;
        cursor: pointer;
    }

    .slide {
        display: none;
    }

    .slide-offer p {
        font-size: 60px;
        line-height: 60.35px;
        font-weight: 700;
    }

    /* Смена фона */

    #product-1:hover~.site-wrapper label[for="product-1"],
    #product-2:hover~.site-wrapper label[for="product-2"],
    #product-3:hover~.site-wrapper label[for="product-3"] {
        background-color: rgba(248, 247, 244, 0.4);

    }

    #product-1:checked~.site-wrapper #slide1,
    #product-2:checked~.site-wrapper #slide2,
    #product-3:checked~.site-wrapper #slide3 {
        display: block;
    }

    #product-1:checked~.site-wrapper label[for="product-1"],
    #product-2:checked~.site-wrapper label[for="product-2"],
    #product-3:checked~.site-wrapper label[for="product-3"] {
        background-color: #ffffff;
    }

    #product-1:checked~.site-wrapper {
        background-image: url(../img/ice-cream-promo-1.png);
        background-color: #849d8f;

    }

    #product-2:checked~.site-wrapper {
        background-image: url(../img/ice-cream-promo-2.png);
        background-color: #8996a6;

    }

    #product-3:checked~.site-wrapper {
        background-image: url(../img/ice-cream-promo-3.png);
        background-color: #9d8b84;

    }

    /*====== Кнопки  ======*/

    .btn {
        display: inline-block;
        vertical-align: middle;
        padding: 10px 17px;
        border: none;
        color: #fefefe;
        font-weight: 700;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
        line-height: 24px;
        background-image: linear-gradient(to top, #e74a35, #f26843);
        border-radius: 20px / 50%;
        background-color: #ed593c;
        text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
        box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
        cursor: pointer;
    }

    .btn:hover,
    .btn:focus {
        background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
        box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
    }

    .btn:active {
        box-shadow: inset 0px 2px 2px 0 #942718;
        background-image: linear-gradient(to bottom, #e74a35, #f26843),
            linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
    }

    .btn-slider {
        display: inline-block;
        padding: 12px 44px;
        font-weight: 600;
        font-size: 31px;
        line-height: 41px;
        text-align: center;
        color: #ffffff;
        vertical-align: top;
        text-decoration: none;
        text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
        background: #f26843;
        background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
        border-radius: 50px;
        box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
        border: none;
        cursor: pointer;
    }

    .btn-slider:hover {
        background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
        box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
    }

    .btn-slider:active {
        background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
        box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
    }

    /* Секции акций */

    .promo {
        display: flex;
        margin-bottom: 35px;
    }

    .raspberry-offer,
    .chocolate-offer {
        display: flex;
        flex-direction: column;
        width: 560px;
        min-height: 229px;
        box-sizing: content-box;
        font-size: 18px;
        line-height: 22px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px;
        font-weight: 700;
        background-repeat: no-repeat;
    }

    .raspberry-offer h3,
    .chocolate-offer h3 {
        margin-top: -4px;
        font-size: 35px;
        line-height: 41px;
        padding-top: 22px;
    }

    .raspberry-offer p,
    .chocolate-offer p {
        justify-content: flex-start;
        margin-top: -22px;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 45px;
    }

    .btn-offer-raspberry,
    .btn-offer-chocolate {
        display: inline-block;
        padding: 12px 22px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        vertical-align: top;
        color: #ffffff;
        border-radius: 25px;
        box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
        cursor: pointer;
        align-self: flex-end;
    }


    .raspberry-offer {
        background-color: #6f1e2e;
        background-image: url(../img/bg-promo-berry.jpg);
        background-repeat: repeat;
        margin-right: 26px;
    }

    .chocolate-offer {
        background-color: #4d3428;
        background-image: url(../img/bg-promo-choco.jpg);
        background-repeat: repeat;
    }

    /*====== Хиты и товары =======*/

    .best-sellers-list,
    .catalog-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 23px;
    }

    .catalog-item {
        position: relative;
        min-height: 320px;
        width: 267px;
    }

    .catalog-item-image img,
    .catalog-item img {
        box-sizing: content-box;
        position: relative;
        margin: 2px;
        border: 1px solid transparent;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .best-item::after {
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
        width: 61px;
        height: 61px;
        z-index: 1;
        background: #ffffff url(../img/svg/hit.svg) no-repeat 50% 50%;
        border-radius: 50%;
    }

    .catalog-item:hover:before {
        content: "";
        position: absolute;
        min-height: calc(100% + 60px);
        top: 0px;
        left: -10px;
        width: 290px;
        z-index: 2;
        opacity: 0.2;
        box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
        background-color: #f8f7f4;
        border: 1px solid transparent;
        border-radius: 5px;
    }


    .catalog-item-price {
        position: relative;
        z-index: 1;
        font-size: 45px;
        line-height: 45px;
        text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
        font-weight: 700;
        margin-top: -62px;
    }

    .catalog-item-price span {
        font-size: 30px;
        font-weight: 700;
    }

    .catalog-item-title {
        display: block;
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        margin-top: -25px;
    }

    .catalog-item-title a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .catalog-item-title a:hover,
    .catalog-item-title a:focus {
        border-bottom: 1px solid rgba(255, 188, 158, 0.3);
        color: rgba(255 188 158);
        outline: none;
    }

    .item-btn {
        display: none;
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        min-width: 200px;
        bottom: -45px;
        padding-left: 15px;
        padding-right: 15px;
        z-index: 3;
    }

    .catalog-item:hover {
        position: relative;
        z-index: 1;
    }

    .catalog-item:hover .item-btn,
    .catalog-item:hover .catalog-item:before {
        display: block;
    }

    /* Остальные блоки */

    .features {
        position: relative;
        background-color: #e2d6be;
        background-image: url(../img/feature-bg.jpg);
        border-radius: 15px;
        box-sizing: border-box;
        color: #323232;
        width: 1146px;
        margin-bottom: 40px;
        padding: 25px 20px 23px;
    }

    .features-list {
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

    }

    .feature-item {
        display: flex;
        position: relative;
        width: 44%;
        padding-left: 55px;
        margin-top: 19px;
        font-size: 16px;
        line-height: 22px;
    }

    .features .slogan {
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
        margin: 0;
        padding: 0;

    }


    .feature-item-make:before {
        content: "";
        position: absolute;
        top: -14px;
        left: 0;
        width: 49px;
        height: 49px;
        background: url(../img/svg/ice-cream.svg) no-repeat 50% 50%;
    }

    .feature-item-consist:before {
        content: "";
        position: absolute;
        top: -14px;
        left: 0;
        width: 49px;
        height: 49px;
        background: url(../img/svg/eco.svg) no-repeat 50% 50%;
    }

    .feature-item-suppliers:before {
        content: "";
        position: absolute;
        top: -14px;
        left: 0;
        width: 49px;
        height: 49px;
        background: url(../img/svg/cow.svg) no-repeat 50% 50%;

    }

    .feature-item-delivery:before {
        content: "";
        position: absolute;
        top: -14px;
        left: 0;
        width: 49px;
        height: 49px;
        background: url(../img/svg/thermometer.svg) no-repeat 50% 50%;
    }

    .fellowship {
        display: flex;
        margin-bottom: 44px;
    }

    .news-blog {
        border-radius: 15px;
        color: #323232;
        background-color: #f9fafa;
        background-image: url(../img/blog-image.jpg);
        width: 560px;
        min-height: 220px;
        margin-right: 13px;

    }

    .news-blog h2 {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
    }

    .news-blog a {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        color: #323232;
        border-bottom: 1px solid #323232;
    }

    .subscribe-border {
        display: flex;
        justify-content: center;
        width: 560px;
        min-height: 220px;
        border-radius: 10px;
        background-color: #f8f7f4;
        background-image: url(../img/mail-bg.png);
        background-repeat: repeat;
        margin-left: 13px;

    }

    .subscribe-wrap {
        width: 549px;
        min-height: 211px;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #f8f7f4;
        color: #5a5a5a;
        margin: 5px 5px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .subscribe-wrap p {
        padding-top: 14px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 22px;
    }

    .subscribe-wrap .sub-field {
        margin-left: 20px;
        padding-left: 15px;
    }

    .subscribe-wrap btn-subscribe {
        margin-left: 20px;

    }




    .subscribe input {
        width: 368px;
        height: 44px;
        border-radius: 5px;
        border: 1px solid #d3d3d2;
    }

    .map {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .contacts-info {
        position: absolute;
        right: 27px;
        top: 63px;
        z-index: 1;
        width: 302px;
        height: 305px;
        background-color: #ffffff;
        border-radius: 10px;
        color: #323232;

    }

    .contacts-info p {
        color: #323232;
        font-size: 14px;
        line-height: 20px;
    }

    .contacts-info span {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
    }

    .contacts-info a {
        color: #323232;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
    }

    .contacts-info .btn {
        color: #ffffff;
    }

    .feed-back-popup {
        width: 478px;
        height: 443px;
        background-color: #f8f7f4;
    }

    .feed-back-popup input {
        width: 265px;
        height: 42px;
        border-radius: 5px;
        border: 1px solid #d3d3d2;
    }

    .feed-back-popup textarea {
        width: 426px;
        height: 153px;
        border-radius: 5px;
        border: 1px solid #d3d3d2;
        resize: none;
    }

    /* Каталог */

    .breadcrumbs {
        display: flex;
        list-style: none;
        font-size: 16px;
        line-height: 18px;
    }

    /*.breadcrumbs:not(:last-child):after {
        content: "»";
        position: absolute;
        top: 0px;
        right: 10px;
        width: 5px;
        height: 5px;
      } */

    .filters {
        display: flex;
        margin-bottom: 40px;
    }

    .filters fieldset {
        border: none;
        line-height: 18px;
        font-weight: 500;
        margin-right: 14px;
    }

    .filters legend {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px
    }

    .filters-col-1,
    .filters-col-2 {
        display: flex;
    }

    .fat-list,
    .filler-list {
        display: flex;
        justify-content: space-around;
        margin-right: 14px;
    }

    .fat-list li:not(:last-of-type),
    .filler-list li:not(:last-of-type) {
        margin-right: 14px;
    }

    .legend-form {
        margin: 6px 12px;
        margin-top: 0;
    }

    .background-field {
        position: relative;
        box-sizing: border-box;
        border-radius: 20px;
        border: none;
        background: rgba(255, 255, 255, 0.2);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }


    .sorting-form {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 8px 16px;
        width: 195px;
        background-image: url("../img/svg/select-arrow.svg");
        background-repeat: no-repeat;
        background-position: 170px center;
        color: #ffffff;
        font-weight: 500;
    }

    .sorting-form:hover,
    .sorting-form:focus {
        color: #323232;
        background-image: url("../img/svg/icon-down-dir.svg");
    }


    .sorting-form option {
        color: #323232;
    }

    .filter-price {
        box-sizing: content-box;
        margin: 0;
        padding: 0;
        width: 26px;
        font: inherit;
        color: inherit;
        border: none;
        background-color: transparent;
    }

    .range-controls {
        padding: 17px 22px;
    }

    .range-controls .range-scale {
        width: 176px;
        height: 4px;
        background-color: rgba(248, 247, 244, 0.5);
    }

    .range-controls .range-bar {
        width: 107px;
        height: 4px;
        margin-left: 23px;
        margin-right: 55px;
        background-color: #f8f7f4;
    }

    .range-controls .rage-toggle {
        box-sizing: border-box;
        position: absolute;
        top: 7px;
        width: 20px;
        height: 20px;
        border: 8px solid #ffffff;
        border-radius: 50%;
        background-color: #ababab;
        box-shadow: 0 2px 0 0 #ababab;
        cursor: pointer;
    }

    .range-controls .rage-toggle:hover {
        top: 7px;
        width: 22px;
        height: 22px;
        border-width: 9px;
        box-shadow: 0 3px 0 0 #ababab;
    }

    .range-controls .toggle-min {
        left: 33px;
    }

    .range-controls .toggle-max {
        right: 67px;
    }

    .filters .fat-list {
        padding: 8px 16px;
    }

    .fat-list .fat-option {
        margin-left: 18px;
        padding-left: 10px;

    }

    .fat-option label:before {
        display: block;
        box-sizing: border-box;
        position: absolute;
        border-radius: 50%;
        content: "";
        height: 22px;
        width: 22px;
        color: #ffffff;
        background-image: url("../img/svg/radio-off.svg");

    }



    input[type="radio"]:checked {
        background-image: url("../img/svg/radio-off.svg");
    }




    .pagination-list {
        display: flex;
        justify-content: flex-end;

    }

    .pagination-item {
        padding-right: 27px;
    }

    .main-footer {
        display: flex;
        justify-content: space-between;

    }

    .social-list {
        display: flex;
        width: 350px;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 40px 70px 0 0;
        padding: 0;
        padding-left: 5px;
    }

    .social-list .social-btn-item {
        margin-right: 17px;
        margin-bottom: 15px;
    }

    .social-btn-item .social-btn {
        display: block;
        width: 32px;
        height: 32px;
        color: #e6ebe9;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.8;
        border: 3px solid rgba(255, 255, 255, 0.5);
        box-shadow: inset 0 0 0 1px #ffffff;
    }

    .social-btn-item .btn-tw {
        background-image: url(../img/svg/twitter.svg);
    }

    .social-btn-item .btn-vk {
        background-image: url(../img/svg/vk.svg);
    }

    .social-btn-item .btn-fb {
        background-image: url(../img/svg/fb.svg);
    }

    .social-btn-item .btn-inst {
        background-image: url(../img/svg/instagram.svg);
    }

    .social-btn:hover,
    .social-btn:focus {
        border: 3px solid rgba(255, 255, 255, 0.7);
    }

    .social-btn:active {
        color: #ffffff;
        border: 3px solid rgba(255, 255, 255, 0.8);
    }

    .about-us-list {
        display: flex;
        flex-wrap: wrap;
        width: 380px;
        flex-direction: row;
        font-size: 13px;
        line-height: 18px;
        margin: 0;
        padding: 15px 0 0 25px;
        box-sizing: border-box;
    }

    .about-us-list .us-item {
        width: 50%;
    }

    .about-us-list .us-item:nth-child(2n+1) {
        width: 40%;
    }

    .us-item a {
        position: relative;
        margin-bottom: 5px;
        font-size: 13px;
        line-height: 1.38;
    }









    .about-us-partners {
        font-weight: 700;
    }

    .footer-copyright p {
        font-size: 12px;
        line-height: 16px;
    }




    /* ------------------ */

    div,
    section,
    a,
    ul,
    li,
    p,
    footer,
    header {
        /* outline: 1px solid red; */
    }
