body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    background-color: #849d8f;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* ===== Кнопки ===== */

.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 17px;
    border: none;
    color: #fefefe;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    line-height: 24px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
    background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
    background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
    background-image: linear-gradient(to top, #e74a35, #f26843);
    border-radius: 20px / 50%;
    background-color: #ed593c;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
    -webkit-box-shadow: inset 0px 2px 2px 0 #942718;
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843)),
        -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07)));
    background-image: -webkit-linear-gradient(top, #e74a35, #f26843),
        -webkit-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
    background-image: -o-linear-gradient(top, #e74a35, #f26843),
        -o-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
    background-image: linear-gradient(to bottom, #e74a35, #f26843),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

/*Шапка и попапы в ней*/

.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-header {
    min-height: 62px;
}

.main-header-logo img {
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 27px;
    min-width: 154px;
    min-height: 60px;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-width: 600px;
    list-style: none;
    padding: 0px;
    margin-top: 23px;
}

.main-header-logo {
    margin-top: -4px;
}

[class$="-list"] {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.site-navigation .nav-main-item {
    padding-bottom: 13px;
    position: relative;
}

.nav-main-item .nav-main-link {
    padding: 7px 14px;
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: none;
}

.nav-main-link::after {
    display: block;
    height: 1px;
    content: "";
    background-color: rgba(255, 255, 255, .3);
}

.nav-main-link:focus-within {
    background-color: #f7f6f3;
    color: #323232;
    border-radius: 25px;
}

.nav-main-item:hover .nav-main-link,
.nav-main-item:focus .nav-main-link {
    background-color: #f7f6f3;
    color: #323232;
    border-radius: 25px;
}


.nav-main-item:focus-within .nav-main-link {
    background-color: #f7f6f3;
    color: #323232;
    border-radius: 25px;
}

.nav-main-link:hover,
.nav-main-link:focus {
    background-color: #f7f6f3;
    color: #323232;
    border-radius: 25px;
}

.nav-main-link:active,
.nav-btn:active {
    -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
    box-shadow: inset 0px 2px 1px 0 #696969;
    color: #323232;
}

.active-item::after {
    display: none;
}

.site-navigation .active-item,
.active-item .nav-main-link {
    background-color: #d07058;
    color: #ffffff;
    border-radius: 25px;
}

.nav-btn-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-width: 393px;
}

.navigation-popup {
    display: none;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    right: auto;
    padding: 0px 0;
    min-width: 143px;
    z-index: 2;
    top: 38px;
    left: -7px;
    margin: 0px;
    list-style: none;
    -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.nav-main-item:hover .navigation-popup,
.nav-main-item:focus .navigation-popup {
    display: block;
}

.nav-main-item:focus-within .navigation-popup {
    display: block;
}

.navigation-popup .popup-item {
    display: block;
    color: #323232;
    background-color: #f8f7f4;

}

.navigation-popup a {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 16px;
    list-style: none;
    color: #323232;
    background-color: #f8f7f4;
    font-weight: 400;
    margin: 0;
}

.navigation-popup a:hover,
.navigation-popup a:focus {
    background-color: #fbded7;
    color: #323232;
}

.navigation-popup a:active {
    color: #323232;
    background-color: #f6b5a5;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navigation-popup .first-item,
.navigation-popup .new-item {
    border-radius: 5px 5px 0px 0;
    -webkit-border-radius: 5px 5px 0px 0;
    -moz-border-radius: 5px 5px 0px 0;
    -ms-border-radius: 5px 5px 0px 0;
    -o-border-radius: 5px 5px 0px 0;
}

.last-popup-item,
.last-popup-item a {
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -ms-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
}

.navigation-popup .new-item {
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 12px;
}

.navigation-popup .new-item:after {
    content: "";
    position: absolute;
    top: 37px;
    right: 9px;
    left: 6px;
    height: 1px;
    background-color: rgba(53, 53, 53, 0.2);
}

.popup-item-active {
    color: #ffffff;
    background-color: #d07058;
}

.popup-item-active a {
    color: #ffffff;
    background-color: #d07058;
}

.popup-item-active a:hover,
.popup-item-active a:focus {
    color: #ffffff;
    background-color: #d07058;
}

.last-popup-item a {
    padding: 6px 20px;
    padding-bottom: 12px;
}

/* =============Кнопки навигации===================== */

.nav-btn-list .btn-item {
    position: relative;
    margin-right: 10px;
}

.nav-btn-list .search-item {
    background-color: transparent;
    border-radius: 50%;
    padding-bottom: 4px;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.nav-btn-list .search-btn {
    position: relative;
    min-width: 33px;
    min-height: 33px;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.search-btn svg {
    margin-top: 3px;
}

.base-btn:hover path,
.base-btn:focus path,
.base-btn:active path,
.base-btn:hover circle,
.base-btn:focus circle,
.base-btn:active circle {
    fill: #323232;
}

.base-btn:focus-within path,
.base-btn:focus-within circle {
    fill: #323232;
}

.btn-item:hover .nav-btn,
.btn-item:focus .nav-btn {
    color: #323232;
    background-color: #f7f6f3;
}

.btn-item:focus-within .nav-btn {
    color: #323232;
    background-color: #f7f6f3;
}


.search-item:focus-within .search-btn {
    background-color: #f7f6f3;
    color: #323232;
}

.search-item:hover .search-btn path,
.search-item:focus .search-btn path,
.search-item:focus-within .search-btn path {
    fill: #323232;
}

.search-btn-popup {
    position: absolute;
    display: none;
    padding: 20px 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 37px;
    right: 0;
    z-index: 2;
    width: 341px;
    min-height: 84px;
    background-color: #f8f7f4;
    border-radius: 5px;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.search-input {
    width: 310px;
    min-height: 44px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    padding: 10px 0px 9px 13px;
    font: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.search-input:hover {
    padding: 9px 0px 8px 12px;
    border: 2px solid rgba(154, 154, 154, 0.52);
    border-radius: 5px;
    outline: none;
}

.search-input:focus {
    padding: 9px 0px 8px 12px;
    border: 2px solid rgba(46, 136, 228, 0.52);
    border-radius: 5px;
    outline: none;
}


/*===== Стили плейсходдеров и текста в инпутах====== */

[class$="-input"] {
    color: #323232;
    font: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

[class$="-input"]::-webkit-input-placeholder {
    font-weight: 400;
    color: #999999;
}

[class$="-input"]:-ms-input-placeholder {
    font-weight: 400;
    color: #999999;
}

[class$="-input"]::-ms-input-placeholder {
    font-weight: 400;
    color: #999999;
}

[class$="-input"]::placeholder {
    font-weight: 400;
    color: #999999;
}


.search-item:hover .search-btn-popup,
.search-item:focus .search-btn-popup {
    display: block;
}

.search-item:focus-within .search-btn-popup {
    display: block;
}

.nav-btn-list .nav-login-link {
    position: relative;
    display: block;
    padding-left: 44px;
    padding-right: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.nav-btn-list .basket-link {
    position: relative;
    display: block;
    padding-left: 44px;
    padding-right: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}


.nav-login-link svg,
.basket-link svg {
    position: absolute;
    left: 16px;
    top: 6px;
}

.login-btn-popup-wrap {
    position: absolute;
    z-index: 2;
    top: 35px;
    left: -200px;
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    width: 277px;
    min-height: 214px;
    background-color: #ffffff;
    padding: 18px 17px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.login-item:hover .login-btn-popup-wrap,
.login-item:focus .login-btn-popup-wrap {
    display: block;
}

.login-item:focus-within .login-btn-popup-wrap {
    display: block;
}

.login-input {
    width: 242px;
    min-height: 44px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    padding: 10px 0px 9px 13px;
    margin-bottom: 19px;
    font: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.login-input:hover {
    width: 242px;
    box-sizing: border-box;
    border: 2px solid rgba(154, 154, 154, 0.52);
    padding: 9px 0px 8px 12px;
    margin-bottom: 19px;
}

.login-input:focus {
    width: 242px;
    box-sizing: border-box;
    border: 2px solid rgba(154, 154, 154, 0.52);
    padding: 9px 0px 8px 12px;
    border: 2px solid rgba(46, 136, 228, 0.52);
    margin-bottom: 19px;
}


.btn-login {
    display: inline-block;
    vertical-align: top;
    padding: 9px 25px;
    margin-top: 3px;
    margin-left: 2px;
}


.bottom-link-wrap {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
}

.login-link {
    display: block;
    color: #323232;
    font-size: 13px;
    line-height: 24px;

}

.login-link:hover,
.login-link:focus,
.login-link:active {
    color: #e84d37;
}

.login-link-content {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.login-link:hover .login-link-content,
.login-link:focus .login-link-content,
.login-link:active .login-link-content {
    border-bottom: 1px solid #e84d37;
}

.btn-item .basket-not-empty {
    background-color: #f8f7f4;
    color: #323232;
}


.basket-btn-popup {
    position: absolute;
    width: 515px;
    min-height: 228px;
    top: 34px;
    right: 0;
    z-index: 3;
    display: none;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    background-color: #f8f7f4;
    border-radius: 5px;
    text-align: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 17px 11px 0px 17px;
}

.btn-backet:hover .basket-btn-popup {
    display: block;
}


.btn-backet:focus-within .basket-btn-popup {
    display: block;
}

.basket-btn-popup .basket-table {
    width: 515px;
    min-height: 242px;
    color: #323232;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px 11px 0px 17px;
}

.basket-table .basket-delete-1,
.basket-table .basket-delete-2 {
    width: 25px;
}

.basket-remove-btn1 {
    display: block;
    width: 11px;
    height: 11px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-image: url(../img/svg/cross-small.svg);
    background-repeat: no-repeat;
    margin: -12px 0px 0px 0px;
}

.basket-remove-btn2 {
    display: block;
    width: 11px;
    height: 11px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-image: url(../img/svg/cross-small.svg);
    background-repeat: no-repeat;
    margin: -17px 0px 0px 0px;
}

.basket-table .basket-foto-1 {
    width: 55px;
    padding: 6px 0px 14px 3px;
}

.basket-table .basket-foto-2 {
    width: 55px;
    padding: 0px 0px 20px 4px;
}

.basket-foto-1 img,
.basket-foto-2 img {
    border-radius: 50%;

}

.basket-table .item-backet-1 {
    width: 254px;
    padding: 5px 0px 17px 0px;
}

.basket-table .item-backet-2 {
    width: 254px;
    padding: 10px 0px 16px 0px;

}

.basket-table .basket-account-price1 {
    width: 130px;
    padding: 0px 0px 15px 8px;
}

.basket-table .basket-account-price2 {
    width: 130px;
    padding: 0px 9px 20px 5px;
}

.basket-table .basket-price1 {
    width: 77px;
    padding: 0px 1px 17px 1px;
}

.basket-table .basket-price2 {
    width: 77px;
    padding: 0px 0px 28px 0px;
}

.basket-table .basket-total {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    text-align: right;
    border-top: 1px solid #cacac7;
    padding: 14px 5px 6px 0px;
}

.basket-table .order-btn-wrap {
    text-align: right;
    padding: 7px 2px 11px 0px;
}

.header-phone {
    width: 1174px;
    margin-top: -11px;
}

.work-hour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    word-wrap: normal;
    padding-bottom: 3px;
    margin-top: -2px;
}

.header-phone-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0px;
    margin: 0px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    margin-top: -13px;
}

.backet-btn-popup {
    border-radius: 5px;
    -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    color: #323232;
    font-size: 13px;
    line-height: 16px;
}

.backet-btn-popup span {
    color: #999999;
}

.backet-btn-popup .total {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}

.nav-btn:hover,
.nav-btn:focus {
    text-decoration: none;
    background-color: #f8f7f4;
    color: #323232;
}

/* Слайдер и обертки  */

.site-wrapper {
    margin: 0;
    background-color: #849d8f;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
    -o-transition: background-image 0.5s ease, background-color 0.5s ease;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

.slider-section {
    position: relative;
}

.slide-offer {
    min-height: 200px;
    padding-top: 276px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 38px;
}

.slide-title {
    width: 700px;
    margin-top: -3px;
    margin: -3px auto;
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60.35px;
    font-weight: 700;
}

.slider-controls {
    position: absolute;
    bottom: 22px;
    left: 26px;
    z-index: 20;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slide {
    display: none;
}

.slide-offer p {
    font-size: 60px;
    line-height: 60.35px;
    font-weight: 700;
}

/* Смена фона */

.slider-controls label:hover,
.slider-controls label:focus {
    background-color: rgba(248, 247, 244, 0.4);
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
    display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

#product-1:checked~.site-wrapper {
    background-image: url(../img/ice-cream-promo-1.png);
    background-color: #849d8f;

}

#product-2:checked~.site-wrapper {
    background-image: url(../img/ice-cream-promo-2.png);
    background-color: #8996a6;

}

#product-3:checked~.site-wrapper {
    background-image: url(../img/ice-cream-promo-3.png);
    background-color: #9d8b84;

}

.btn-slider {
    display: inline-block;
    padding: 12px 44px;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
}

.btn-slider:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-slider:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* Секции акций */

.promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 27px;
}

.raspberry-offer,
.chocolate-offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 560px;
    min-height: 229px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 18px;
    line-height: 22px;
    border-radius: 15px;
    font-weight: 700;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.raspberry-offer {
    background-color: #6f1e2e;
    background-image: url(../img/bg-promo-berry.jpg);
    background-repeat: repeat;
    padding: 0px 0px;
    margin-right: 15px;
    margin-left: 0px;


}

.chocolate-offer {
    background-color: #4d3428;
    background-image: url(../img/bg-promo-choco.jpg);
    background-repeat: repeat;
    padding: 0px 0px;
    margin-right: 0px;
    margin-left: 10px;
}

.raspberry-offer h3,
.chocolate-offer h3 {
    font-size: 35px;
    line-height: 41px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 20px;
}

.raspberry-offer p,
.chocolate-offer p {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 18px;
    line-height: 22px;
    margin-top: 7px;
    margin-bottom: 21px;
    margin-right: 17px;
    margin-left: 21px;
}

.btn-offer-raspberry,
.btn-offer-chocolate {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    vertical-align: top;
    color: #ffffff;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
    box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
    cursor: pointer;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.btn-offer-raspberry {
    padding: 11px 23px;
    margin: 22px 21px;
}

.btn-offer-chocolate {
    padding: 11px 23px;
    margin: 22px 18px;
}

/*====== Хиты и товары =======*/

.best-sellers-list,
.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.catalog-list {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;

}

.catalog-item {
    position: relative;
    min-height: 320px;
    width: 267px;
    margin-bottom: 16px;
    margin-right: 11px;
    margin-left: 15px;

}

.catalog-item-image img,
.catalog-item img {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    margin: 3px 0px 0px 2px;
    border: 1px solid transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.best-item::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 8px;
    width: 61px;
    height: 61px;
    z-index: 1;
    background: #ffffff url(../img/svg/hit.svg) no-repeat 50% 50%;
    border-radius: 50%;
}

.catalog-item:hover:before,
.catalog-item:focus:before {
    content: "";
    position: absolute;
    min-height: calc(100% + 55px);
    top: 0px;
    left: -10px;
    width: 290px;
    z-index: -1;
    opacity: 0.2;
    background-color: #f8f7f4;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.7);
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.7);
}


.catalog-item-price {
    position: absolute;
    z-index: 1;
    font-size: 45px;
    line-height: 45px;
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    font-weight: 700;
    top: 168px;
    left: 1px;
}

.catalog-item-price span {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
}

.catalog-item-title {
    display: block;
    color: #ffffff;
    z-index: 3;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 6px;

}

.best-sellers {
    margin-top: 35px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;

}


.best-item {
    position: relative;
    min-height: 320px;
    width: 263px;
    padding: 0px 0px 0px 6px;
}

.best-item-price {
    position: absolute;
    z-index: 1;
    font-size: 45px;
    line-height: 45px;
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    font-weight: 700;
    top: 168px;
    left: 9px;
}

.catalog-item-title a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 11px;
}

.catalog-item-title a:hover,
.catalog-item-title a:focus {
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
    color: rgb(255, 188, 158);
    outline: none;
}

.news-blog .blog-title:hover,
.news-blog .blog-title:focus {
    color: rgba(232, 77, 55);
    outline: none;
}

.catalog-item .item-btn {
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    min-width: 200px;
    bottom: -40px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 3;
}

.catalog-item:hover {
    position: relative;
    z-index: 1;
}

.catalog-item:hover .item-btn,
.catalog-item:hover .catalog-item:before {
    display: block;
}

/* Остальные блоки */

.features {
    position: relative;
    background-color: #e2d6be;
    background-image: url(../img/feature-bg.jpg);
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #323232;
    width: 1146px;
    margin-bottom: 41px;
    margin-top: -17px;
    margin-left: 27px;
    margin-right: 10px;
    padding: 23px 21px 21px 20px;
}

.features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

}

.feature-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 44%;
    padding-left: 55px;
    margin-top: 23px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.features .slogan {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
    padding: 0;

}

.feature-item-make:before {
    content: "";
    position: absolute;
    top: -14px;
    left: 0;
    width: 49px;
    height: 49px;
    background: url(../img/svg/ice-cream.svg) no-repeat 50% 50%;
}

.feature-item-consist:before {
    content: "";
    position: absolute;
    top: -14px;
    left: 0;
    width: 49px;
    height: 49px;
    background: url(../img/svg/eco.svg) no-repeat 50% 50%;
}

.feature-item-suppliers:before {
    content: "";
    position: absolute;
    top: -14px;
    left: 0;
    width: 49px;
    height: 49px;
    background: url(../img/svg/cow.svg) no-repeat 50% 50%;
}

.feature-item-delivery:before {
    content: "";
    position: absolute;
    top: -14px;
    left: 0;
    width: 49px;
    height: 49px;
    background: url(../img/svg/thermometer.svg) no-repeat 50% 50%;
}

.fellowship {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 39px;
}

.news-blog {
    border-radius: 15px;
    color: #323232;
    background-color: #f9fafa;
    background-image: url(../img/blog-image.jpg);
    background-repeat: no-repeat;
    padding: 24px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 560px;
    min-height: 220px;
    margin-bottom: 1px;
    margin-top: 0px;
    margin-left: 27px;
    margin-right: 13px;
}

.news-blog h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin: 0 0 4px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.news-blog .blog-title {
    display: block;
    width: 285px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
    text-decoration: underline;
}

.subscribe-border {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 560px;
    min-height: 220px;
    border-radius: 10px;
    background-color: #f8f7f4;
    background-image: url(../img/mail-bg.png);
    background-repeat: repeat;
    margin-left: 13px;

}

.subscribe-wrap {
    width: 549px;
    min-height: 211px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #f8f7f4;
    color: #5a5a5a;
    margin: 5px 5px;
    padding: 5px 10px 20px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.subscribe-wrap p {
    width: 510px;
    padding-top: 6px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.subscribe-wrap .btn-subscribe {
    margin: 0px 0px 0px 10px;
}

.subscribe-input {
    width: 368px;
    min-height: 44px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #d3d3d2;
    border-radius:5px;
    padding: 10px 13px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

.subscribe-input:hover {
    border: 2px solid rgba(154, 154, 154, 0.52);
    padding: 9px 12px;
}

.subscribe-input:focus {
    border: 2px solid rgba(46, 136, 228, 0.52);
    padding: 9px 12px;
}

.map-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.map {
    position: relative;
}

.map-block .map-pin {
    position: absolute;
    z-index: 2;
    top: 138px;
    right: 854px;
}

.map-block iframe {
    position: absolute;
    z-index: 5;
    border: none;
}

.contacts-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: absolute;
    right: 27px;
    top: 63px;
    padding: 11px 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
    width: 302px;
    height: 305px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #323232;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.our-adress {
    margin-bottom: 0px;
}

.our-tel {
    margin: 16px 1px;
}

.our-tel .contacts-title {
    display: block;
    width: 173px;
}

.contacts-info .contacts-discription {
    display: block;
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    width: 155px;
    padding-bottom: 4px;
}

.contacts-info .contacts-main-info {
    color: #323232;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    width: 220px;
}

.contacts-info .contacts-title {
    color: #323232;
    font-size: 14px;
    line-height: 22px;
}

.our-tel .contacts-tel {
    color: #323232;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;

}

.contacts-info .btn {
    color: #ffffff;
    margin: 6px 1px;
}

@keyframes zoom {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }

    10% {
        transform: scale(0.1);
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
    }

    20% {
        transform: scale(0.2);
        -webkit-transform: scale(0.2);
        -moz-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
    }

    30% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
    }

    40% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        -moz-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
    }

    50% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
    }

    60% {
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
    }

    70% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
    }

    80% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
    }



    90% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.feed-back-overlay {
    position: fixed;
    background-color: rgba(50, 50, 50, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 49;
    display: none;
}

.overlay-show {
    display: block;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.feed-back-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 50;
    background-color: #f8f7f4;
    border-radius: 10px;
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 476px;
    min-height: 442px;
    margin-top: -123px;
    margin-left: -238px;
    padding-top: 9px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 14px;
    color: #323232;
}

.feed-back-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-top: 9px;
    margin-bottom: 20px;

}

.feed-back-input {
    width: 265px;
    min-height: 44px;
    border: 1px solid #d3d3d2;
    border-radius:5px;
    outline: none;
    color: #323232;
    background-color: #ffffff;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px 7px 2px 15px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

.feed-back-input:hover {
    padding: 3px 6px 0px 14px;
    border: 2px solid rgba(154, 154, 154, 0.52);
}

.feed-back-input:focus {
    padding: 3px 6px 0px 14px;
    border: 2px solid rgba(46, 136, 228, 0.52);
}


.feed-back-popup textarea {
    width: 426px;
    border: 1px solid #d3d3d2;
    border-radius:5px;
    min-height: 153px;
    box-sizing: border-box;
    margin-bottom: 23px;
    resize: none;
    padding: 8px 0 13px 15px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

.feed-back-popup textarea:hover {
    width: 426px;
    border: 2px solid rgba(154, 154, 154, 0.52);
    min-height: 153px;
    box-sizing: border-box;
    margin-bottom: 23px;
    resize: none;
    padding: 7px 0px 12px 14px;
}

.feed-back-popup textarea:focus {
    width: 426px;
    border: 2px solid rgba(46, 136, 228, 0.52);
    outline: none;
    min-height: 153px;
    box-sizing: border-box;
    margin-bottom: 23px;
    resize: none;
    padding: 7px 0px 12px 14px;
}

.feed-back-popup .popup-close {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 17px;
    height: 17px;
    background: transparent;
    border: 0;
    background-image: url(../img/svg/cross-big.svg);
    background-repeat: no-repeat;
}

.feed-back-popup .btn-feed-submit {
    margin: 0px 25px 13px 292px;
    padding: 11px 22px;
}

.feed-back-show {
    display: block;
    animation: zoom 0.5s;
    -webkit-animation: zoom 0.5s;
}

.feed-back-error {
    animation: shake 0.6s;
}

/* Каталог */

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    margin-top: -20px;
    margin-bottom: -8px;
}

.page-title {
    margin-top: 11px;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 28px;
    margin-top: 14px;
}

.breadcrumbs {
    width: 530px;
    margin-right: 0px;
    margin-left: -13px;
    font-size: 14px;
    line-height: 16px;

}

.breadcrumbs-item {
    padding-right: 21px;
    position: relative;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus,
.breadcrumbs-item a:active {
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
    color: rgb(255, 188, 158);
    outline: none;
}

.breadcrumbs-item::after {
    content: "»";
    position: absolute;
    top: 0px;
    right: 10px;
    width: 5px;
    height: 5px;
}

.breadcrumbs-current::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 10px;
    width: 5px;
    height: 5px;
}

.breadcrumbs-title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px 20px 26px;
}

.filters fieldset {
    margin-right: 16px;
    margin-left: 0px;
    margin-bottom: 8px;
    padding: 0px;
    border: none;
}

.filters legend {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px
}

.filters-col-1,
.filters-col-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    font-weight: 500;
}

.legend-sort {
    padding: 2px 13px 7px 18px;
}

.legend-price {
    padding: 2px 0px 7px 12px;
}

.legend-fat {
    padding: 2px 0px 7px 37px;
}

.legend-fill {
    padding: 2px 0px 7px 17px;
}

.background-field {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 25px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin-bottom: 5px;
}

.sorting-form {
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px 16px;
    width: 195px;
    background-image: url("../img/svg/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: 170px center;
    color: #ffffff;
    font-weight: 500;
    outline: none;
}

.sorting-form::-ms-expand {
    display: none;
}

.sorting-form:hover,
.sorting-form:focus {
    color: #323232;
    background-image: url("../img/svg/icon-down-dir.svg");
}

.sorting-form option {
    color: #323232;
}

.range-controls {
    padding: 16px 22px;
    margin-right: -13px;
}

.range-controls .range-scale {
    width: 176px;
    height: 4px;
    background-color: rgba(248, 247, 244, 0.5);
}

.range-controls .range-bar {
    width: 107px;
    height: 4px;
    margin-left: 23px;
    margin-right: 55px;
    background-color: #f8f7f4;
}

.range-controls .rage-toggle {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 7px;
    width: 20px;
    height: 20px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    background-color: #ababab;
    -webkit-box-shadow: 0 2px 0 0 #ababab;
    box-shadow: 0 2px 0 0 #ababab;
    cursor: pointer;
}

.range-controls .rage-toggle:hover {
    top: 7px;
    width: 22px;
    height: 22px;
    border-width: 9px;
    -webkit-box-shadow: 0 3px 0 0 #ababab;
    box-shadow: 0 3px 0 0 #ababab;
}

.range-controls .toggle-min {
    left: 33px;
}

.range-controls .toggle-max {
    right: 67px;
}

.filter-price {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    width: 26px;
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
}

.filters .price-fieldset {
    margin-right: 3px;
}

.filters .fat-fieldset {
    padding: 0;
    margin: 0 14px 0 0;
}

.fat-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    box-sizing: border-box;
    width: 415px;
    flex-wrap: wrap;
    padding: 7px 0px;
    margin: 0px 0px 0px 22px;

}

.fat-list .fat-option {
    margin-right: 0px;
    margin-left: 2px;
}

 .fat-option label {
    position: relative;
    padding: 5px 0 0 47px;
    cursor: pointer;
    font-size: 16px;
    line-height: 18px;
}

.filler-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 15px;
    padding: 8px 13px 6px 5px;
    box-sizing: border-box;
}

.fill-option {
    padding-left: 30px;
    margin: -1px 9px 0px 14px;
}

.fill-fieldset label {
    position: relative;
    cursor: pointer;
}

.fill-3 {
    padding-left: 35px;
}

.fill-4 {
    padding-left: 34px;
}

.fat-option label::before {
    content: "";
    position: absolute;
    left: 13px;
    top: 3px;
    width: 17px;
    height: 17px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    opacity: 0.8;
}

.fat-option .input-radio:checked+label::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 20px;
    width: 9px;
    height: 9px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0.8;
}


.fill-fieldset label::before {
    content: " ";
    box-sizing: border-box;
    left: -32px;
    top: -1px;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    opacity: 0.8;
    border-radius: 2px;
    position: absolute;
}

.fill-fieldset .input-checkbox:checked+label::after {
    content: "";
    left: -29px;
    top: 1px;
    position: absolute;
    width: 15px;
    height: 5px;
    border-left: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    opacity: 0.8;
    transform: rotate(-45deg);


}

/* Эффекты при наведении, блокировке и фокусе (как пример 2 крайние кнопки) */

.fill-fieldset .input-checkbox:hover+label::before {
    opacity: 1;
}

.fill-fieldset .input-checkbox:checked:hover+label::after {
    opacity: 1;
}

.fill-fieldset .input-checkbox:disabled+label::before,
.fill-fieldset .input-checkbox:disabled+label::after {
    opacity: 0.4;
    pointer-events: none;
}

.fat-fieldset  .input-radio:disabled+label,
.fill-fieldset .input-checkbox:disabled+label {
    pointer-events: none;
}


.fat-fieldset .input-radio:hover+label::before,
.fat-option .input-radio:checked:hover+label::after {
    opacity: 1;
}

.fill-fieldset .input-checkbox:focus+label:before,
.fat-fieldset .input-radio:checked:focus+label::before   {
    opacity: 1;
    outline: thin solid;
    outline: 5px auto -webkit-focus-ring-color;
}

.fat-fieldset .input-radio:disabled+label::before,
.fat-fieldset .input-radio:disabled+label::after {
    opacity: 0.4;
    pointer-events: none;
}

.btn-filter {
    width: 144px;
    height: 37px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-weight: 500;
    margin: 24px 0 0px -18px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.btn-filter:hover,
.btn-filter:focus {
    background-color: #ffffff;
    color: #323232;
}

.btn-filter:active {
    box-shadow: inset 0px 2px 1px 0 #696969;
    background-color: #ededed;
    border: none;
    outline: none;

}

.catalog-wrap {
    padding: 0px;
    margin: 0px;
}

.pagination-block {
    position: relative;
    margin-top: 53px;
    font-weight: 500;
    margin-right: 21px;
    margin-bottom: 32px;
}

.pagination-block::after {
    content: "";
    position: absolute;
    top: 53px;
    left: 0;
    padding: 0 27px;
    width: 1146px;
    height: 1px;
    background-color: rgba(255, 255, 255, .3);
    background-clip: content-box;

}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0px;
    margin-top: 0px;

}

.pagination-item {
    display: block;
    margin: 0 0 0 2px;
}

.pagination-item a {
    padding: 3px 9px;
    border-radius: 50%;
    min-height: 26px;
    min-width: 27px;
    box-sizing: border-box;
}

.prev svg {
    transform: rotate(180deg);
}

.next svg path {
    fill: rgba(255, 255, 255, 1);
}

.disabled svg path {
    fill: rgba(255, 255, 255, 0.2);
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
    color: #323232;
    background-color: rgb(255, 255, 255);
}

.pagination-item-current a,
.pagination-item-current a:hover {
    color: #323232;
    background-color: rgb(255, 255, 255);
}

.prev a:hover,
.prev a:focus,
.prev a:active {
    background-color: transparent;
}

.next a:hover,
.next a:focus,
.next a:active {
    background-color: transparent;
}

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-social {
    width: 315px;
}

.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 36px 0px 0px 28px;
}

.social-list .social-btn-item {
    margin-right: 11px;
    margin-bottom: 15px;
}

.social-btn-item .social-btn {
    display: block;
    width: 32px;
    height: 32px;
    color: #e6ebe9;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    border: 3px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 0 0 1px #ffffff;
    box-shadow: inset 0 0 0 1px #ffffff;
}

.social-btn-item .btn-tw {
    background-image: url(../img/svg/twitter.svg);
}

.social-btn-item .btn-vk {
    background-image: url(../img/svg/vk.svg);
}

.social-btn-item .btn-fb {
    background-image: url(../img/svg/fb.svg);
}

.social-btn-item .btn-inst {
    background-image: url(../img/svg/instagram.svg);
}

.social-btn:hover,
.social-btn:focus {
    opacity: 0.8;

}

.social-btn:active {
    opacity: 0.9;
}

.about-us {
    width: 400px;
    margin-top: 34px;
}

.about-us-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    list-style: none;
    margin-top: 1px;

}

.about-us-list .us-item {
    width: 50%;
}

.about-us-list .us-item:nth-child(2n+1) {
    width: 36%;
}

.us-item a {
    position: relative;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.about-us-list .partners {
    position: relative;
    font-weight: 700;
}

.partners a:before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/heart.svg);
    top: 0px;
    right: 119px;
    width: 15px;
    height: 13px;
}

.us-item a:hover,
.us-item a:focus,
.us-item a:active {
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
    color: rgb(255, 188, 158);
    outline: none;
}

.footer-copyright {
    margin-top: 17px;
    margin-right: 10px;
}

.footer-copyright p {
    font-size: 13px;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
}

.footer-copyright .link-creators {
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.footer-copyright .link-creators:hover,
.footer-copyright .link-creators:focus {
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
    color: rgb(255, 188, 158);
    outline: none;
}
