    body {
        margin: 0px;
        font-family: Roboto, Arial, sans-serif;
        font-size: 16px;
        line-height: 22px;
        font-weight:400;
        color: #ffffff;
        background-color: #849d8f;
    }

    a {
        text-decoration: none;
        color: #ffffff;
    }

    /*Шапка и попапы в ней*/

    .site-navigation {
        list-style: none;
    }

    .site-navigation a {
        font-weight: bold;
    }

    .site-navigation a:hover,
    .site-navigation a:focus {
        background-color:#f7f6f3;
        color: #323232;
    }

    .site-navigation a:active {
        box-shadow: inset 0px 2px 1px 0 #696969;
        color: #323232;
    }

    .navigation-popup-wrap {
        width: 143px;
        height: 171px;
        box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
        background-color: #f8f7f4;
        border-radius: 5px;
    }

    .navigation-popup a {
        list-style: none;
        font-size: 14px;
        line-height: 16px;
        color: #323232;
        font-weight:400;
    }

    .navigation-popup a:hover,
    .navigation-popup a:focus {
        background-color: #fbded7;
        color:#323232;
    }

    .navigation-popup li:hover,
    .navigation-popup li:focus {
        list-style: none;
    }

    .navigation-popup a:active{
        color: #323232;
        background-color: #f6b5a5;
        box-shadow:none;
    }

     .navigation-popup .new-item a{
        font-weight: bold;
    }
    .header-phone-number {
        font-size: 14px;
    }

    .header-phone-number a {
        font-size: 22px;
        line-height: 24px;
        font-weight: bold;
    }

    .backet-btn-popup {
        width: 540px;
        height: 242px;
        border-radius: 5px;
        box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
        background-color: #f8f7f4;
        color: #323232;
        font-size:13px;
        line-height: 16px;
    }

    .backet-btn-popup span {
        color:#999999;
    }

    .backet-btn-popup .total {
        font-size: 15px;
        line-height: 18px;
        font-weight: 700;
    }

    .nav-btn:hover,
    .nav-btn:focus {
        text-decoration: none;
        background-color:#f8f7f4;
        color: #323232;
    }

    .search-btn-popup input {
        border:1px solid #d3d3d2;
        color: #323232;
        border-radius:5px;
        width: 311px;
        height:44px;
    }

    .login-btn-popup input {
        border:1px solid #d3d3d2;
        color: #323232;
        border-radius:5px;
        width: 241px;
        height:44px;
    }

    .login-btn-popup a  {
        color:#323232;

    }

    .login-btn-popup a:hover,
    .login-btn-popup a:focus,
    .login-btn-popup a:active {
        color:#e84d37;
    }

    .btn {
    text-decoration: none;
    border: none;
    color: #fefefe;
    font-weight:700;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    line-height: 24px;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    }

    .btn:hover,
    .btn:focus {
        box-shadow: 0px 2px 2px 0 #ac1000;
        background-image: linear-gradient(to top, #e74a35, #f26843),
                        linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    }

    .btn:active{
        box-shadow: inset 0px 2px 2px 0 #942718;
        background-image: linear-gradient(to bottom, #e74a35, #f26843),
                        linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
    }

    .btn-slider {
        font-size:32px;
        line-height:44px;
        text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    }


    /* Секции акций */
    .slide-offer p {
        font-size: 60px;
        line-height: 60.35px;
        font-weight: 700;
    }

    .raspberry-offer,
    .chocolate-offer {
        width: 560px;
        height: 229px;
        font-size: 18px;
        line-height: 22px;
        border-radius: 15px;
        font-weight: 700;
    }

    .raspberry-offer h3,
    .chocolate-offer h3 {
        font-size: 35px;
        line-height: 41px;
    }

    .raspberry-offer {
        background-color:#6f1e2e;
        background-image:url(../img/bg-promo-berry.jpg);
    }

    .chocolate-offer {
        background-color:#4d3428;
        background-image:url(../img/bg-promo-choco.jpg);
    }

    /* Хиты и товары */

    [class$="-list"] {
        list-style: none;
    }

    .catalog-item-price {
        font-size: 45px;
        line-height: 45px;
        text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
        font-weight: 700;
    }

    .catalog-item-price span {
        font-size: 30px;
        font-weight: 700;
    }

    .catalog-item-title {
        color: #ffffff;
        font-weight: 500;
    }
/* Остальные блоки */

    .features  {
        width: 1146px;
        height: 306px;
        background-color: #e2d6be;
        background-image:url(../img/feature-bg.jpg);
        border-radius: 15px;
        color:#323232;
    }

    .features b {
        font-weight: 500;
    }

    .news-blog {
        width: 560px;
        height: 220px;
        border-radius: 15px;
        color:#323232;
        background-color:#f9fafa;
        background-image: url(../img/blog-image.jpg);

    }

    .news-blog h2 {
        font-size:16px;
        line-height: 22px;
        font-weight: 500;
    }

    .news-blog a {
        font-size:24px;
        font-weight:700;
        line-height: 30px;
        color:#323232;
    }

    .subscribe {
        width: 560px;
        height: 220px;
        border-radius: 10px;
        background-color: #f8f7f4;
        color: #5a5a5a;
    }

    .subscribe input {
        width: 368px;
        height: 44px;
        border-radius: 5px;
        border:1px solid #d3d3d2;
    }

    .contacts-info{
        width: 302px;
        height: 305px;
        background-color: #ffffff;
        border-radius: 10px;
        color: #323232;

    }

    .contacts-info p{
        color:#323232;
        font-size: 14px;
        line-height: 20px;
    }

    .contacts-info span {
        font-size:18px;
        line-height:24px;
        font-weight:700;
    }

    .contacts-info a {
        color:#323232;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
    }

    .contacts-info .btn {
        color:#ffffff;
    }

    .feed-back-popup {
        width: 478px;
        height: 443px;
        background-color: #f8f7f4;
    }

    .feed-back-popup input {
        width: 267px;
        height: 44px;
        border-radius: 5px;
        border:1px solid #d3d3d2;
    }

    .feed-back-popup textarea {
        width: 428px;
        height: 155px;
        border-radius: 5px;
        border:1px solid #d3d3d2;
        resize: none;
    }

    .breadcrumbs {
        list-style: none;
        font-size:16px;
        line-height: 18px;
    }

    .filters fieldset {
        border:none;
        line-height: 18px;
        font-weight: 500;
    }

    .filters legend  {
         font-size: 14px;
         font-weight: 500;
         line-height: 16px
    }

    .about-us-list {
        font-size: 13px;
        line-height: 18px;
    }

    .about-us-partners {
        font-weight: 700;
    }

    .footer-copyright p {
        font-size: 12px;
        line-height: 16px;
    }

















